/* Filters Styles */
.filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.filters h3 {
    font-size: 18px;
}

.filters button {
    margin-top: 10px;
}

@media (max-width: 800px) {
    .filters {
        flex-direction: column;
    }
}
